@page "/submissions"

<PageTitle>Submit Content</PageTitle>

<h1>Submit Content</h1>

<TabControl>
	<TabPage Text="Website">
		<SubmitWebPage></SubmitWebPage>
	</TabPage>
	<TabPage Text="Forum">
		<h1>The second tab</h1>
	</TabPage>
	<TabPage Text="Video">
		<h1>The third tab</h1>
	</TabPage>
	<TabPage Text="Pinterest Gallery">
		<h1>The third tab</h1>
	</TabPage>
	<TabPage Text="Podcast">
		<SubmitPodcast></SubmitPodcast>
	</TabPage>
</TabControl>
